<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the username</title>
</head>
<body>
    <h2>You are about to edit this user :- <%= user.email %></h2>
    <form method= "POST" action = "/user/<%= user.id %>?_method=PATCH">
        <label for="username">Enter new username: </label>
        <input type="text" name="username">
        
        <label for="username">Enter password: </label>
        <input type="password" name="password">
        <button>Submit</button>
    </form>
</body>
</html>