<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
        <h1>Total no. of users : <%= users %> users</h1>
        <form action="/user/new" method="GET">
            <button>Join us today!</button>
        </form>
        <form action="/user" method="GET">
            <button>View all the users</button>
        </form>
</body>
</html>